src/views/index.pug
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="Je suis développeur FullStack JS junior. Dans le cadre de l'atelier front end de ma formation à l'IFOCOP Paris 11, j'ai conçu ce jeu afin de vous présenter de manière ludique mon CV.")
        meta(property="og:image" content="http://amirouche-ourrad.com/assets/img/logo1.png")

        link(rel="canonical", href="http://amirouche-ourrad.com/") 
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.12.0/css/all.css")
        link(rel="stylesheet", href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Nova+Mono|Raleway:300,400,500,700|Roboto:300,400,500,700|VT323&display=swap")
        link(rel="shortcut icon", href="./assets/img/favicon.ico", type="image/x-icon")
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-155398217-1")
        script
            | window.dataLayer = window.dataLayer || [];
            |function gtag(){dataLayer.push(arguments);}
            |gtag('js', new Date());
            |gtag('config', 'UA-155398217-1');

        title Jeu CV Amirouche OURRAD
        
    body
        header.p-1
            nav.container.navbar.navbar-expand-sm.navbar-light.py-0
        .container.mt3
            main
        script(src="http://code.jquery.com/jquery-1.11.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

dist/index.html
<!DOCTYPE html><html lang="fr"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Je suis développeur FullStack JS junior. Dans le cadre de l'atelier front end de ma formation à l'IFOCOP Paris 11, j'ai conçu ce jeu afin de vous présenter de manière ludique mon CV."><meta property="og:image" content="http://amirouche-ourrad.com/assets/img/logo1.png"><link rel="canonical" href="http://amirouche-ourrad.com/"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"><link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.css"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Nova+Mono|Raleway:300,400,500,700|Roboto:300,400,500,700|VT323&amp;display=swap"><link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon"><script async src="https://www.googletagmanager.com/gtag/js?id=UA-155398217-1"></script><script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-155398217-1');</script><title>Jeu CV Amirouche OURRAD</title><link href="main.css" rel="stylesheet"></head><body><header class="p-1"><nav class="container navbar navbar-expand-sm navbar-light py-0"></nav></header><div class="container mt3"><main></main></div><script src="http://code.jquery.com/jquery-1.11.1.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script><script type="text/javascript" src="main.js"></script></body></html>
